body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

footer {
  color: gray;
  text-align: right;
}

#mainHeading {
  font-weight: 400;
  font-size: 50px;
  color: white;
}

.secondaryHeading {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

#featureText {
  font-size: 21px;
  color: gray;
}

.downloadLink {
  color: aquamarine;
  font-size: 16px;
}
